// Props, pickups and platforms used by many stages. Platforms are stretched to the platform's width in play.
puppet "platform" {
  part "p" shape="box" dim="100 22 90" y=0 off="0 -11 0" color="--wood"
  part "edge" shape="box" dim="100 6 92" off="0 -2 0" color="--gold" emissive=0.12 parent="p"
  part "under" shape="box" dim="90 10 80" off="0 -26 0" color="--wood-dark" parent="p"
}
puppet "rope-platform" {
  part "p" shape="box" dim="100 16 70" y=0 off="0 -8 0" color="--wood" anim="sway"
  part "rope-1" shape="cyl" dim="3 200 3" off="-44 100 0" color="--paper-dark" parent="p"
  part "rope-2" shape="cyl" dim="3 200 3" off="44 100 0" color="--paper-dark" parent="p"
}
puppet "raft" {
  part "p" shape="none" y=-10 anim="sway"
  part "log-1" shape="cyl" dim="22 140 22" detail=7 off="0 0 -26" rot="0 0 90" color="--wood" parent="p"
  part "log-2" shape="cyl" dim="22 140 22" detail=7 off="0 0 0" rot="0 0 90" color="--wood-dark" parent="p"
  part "log-3" shape="cyl" dim="22 140 22" detail=7 off="0 0 26" rot="0 0 90" color="--wood" parent="p"
}
puppet "candle-red" {
  part "c" shape="box" dim="60 220 40" y=0 off="0 -110 0" color="--candle-red" emissive=0.4 anim="pulse"
  part "wick" shape="box" dim="6 300 6" off="0 -140 0" color="--candle-red" emissive=0.4 parent="c"
}
puppet "candle-green" {
  part "c" shape="box" dim="60 220 40" y=0 off="0 110 0" color="--candle-green" emissive=0.4
  part "wick" shape="box" dim="6 300 6" off="0 140 0" color="--candle-green" emissive=0.4 parent="c"
}
puppet "goal" {
  part "g" shape="none" y=0 anim="sway"
  part "post-1" shape="cyl" dim="16 300 16" off="0 150 0" color="--wood" parent="g"
  part "post-2" shape="cyl" dim="16 300 16" off="220 150 0" color="--wood" parent="g"
  part "banner" shape="box" dim="240 60 8" off="110 260 0" color="--saffron" emissive=0.15 parent="g"
  part "banner-trim" shape="box" dim="244 8 10" off="110 228 0" color="--gold" parent="g"
  part "flag" shape="cone" dim="30 40 4" off="0 316 0" rot="0 0 -90" color="--rani" parent="g"
  part "flag-2" shape="cone" dim="30 40 4" off="220 316 0" rot="0 0 -90" color="--teal" parent="g"
}
puppet "token" {
  part "t" shape="none" y=0 anim="float"
  part "coin" shape="coin" dim="34 34 34" color="--gold" emissive=0.35 anim="spin-y" parent="t"
}
puppet "laddoo" {
  part "l" shape="none" y=0 anim="float"
  part "sweet" shape="ball" dim="40" color="--turmeric" emissive=0.2 parent="l"
  part "sweet-2" shape="ball" dim="28" off="24 -10 10" color="--marigold" emissive=0.2 parent="l"
  part "leaf" shape="box" dim="60 3 40" off="6 -22 0" color="--leaf" parent="l"
}
puppet "lota" {
  part "l" shape="ball" dim="80 70 80" y=0 off="0 40 0" color="--gold" anim="float"
  part "neck" shape="cyl" dim="36 30 36" taper=1.4 off="0 84 0" color="--gold" parent="l"
  part "shine" shape="ball" dim="12 20 6" off="20 48 32" color="--white" emissive=0.4 parent="l"
}
